*{
    font-family: 'Courier New', Courier, monospace;

}

.heading{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(238, 170, 69);
    color: white;
}

.selection{
    margin: 10px;
    padding: 20px;
    display: flex;
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}


.selection img{
    border: 5px solid rgb(179, 176, 171);
    padding: 50px;
    width: 200px;
    height: 250px;
    border-radius: 20px;
}


.selection img:hover{

    background-color: antiquewhite;
}


.scoreBoard{
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
    align-items: center;
    
}


.scoreBoard div{
    border-radius: 10px;
    padding-top: 30px;
    width: 200px;
    height: 150px;
    border: 5px solid  rgb(179, 176, 171);
    text-align: center;
    background-color: rgb(238, 170, 69);
    color: white;
}


.scoreBoard h3{
    text-decoration: underline;

}

button{
    border-radius: 10px;
    width: 170px;
    height: 100px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    border-color: antiquewhite;
    background-color: rgb(238, 170, 69) ;
}


.btn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


footer{
    margin: 20px;
    padding: 50px;
    height: 20px;
    background-color: rgb(175, 123, 26);
    color: white;
    text-align: center;
}